:root {
  --ion-color-primary: #7c3aed;
  --ion-color-primary-rgb: 124, 58, 237;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #6d32d1;
  --ion-color-primary-tint: #8950ed;
}

body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-card-background: #1e1e1e;
}